/*...................................base.................................*/

body {
  background-color: black;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

/*............................barre navigation............................*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.plate-number {
  width: 500px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Rectangles à chaque extrémité */
.rectangle {
  width: 25px;
  height: 50px;
}

/* Images à l'intérieur des rectangles */
.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Liste de liens */
.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Styles des liens */
.links li {
  margin-right: 20px; /* Espace entre les liens */
}

/* Ajoute un tiret entre les 3 liens*/
.links li:not(:last-child)::after {
  content: " - ";
  margin-left: 5px; /* Espace entre le tiret et le lien suivant */
}

.links a {
  font-size: 32px;
  text-decoration: none;
  color: black;
}
/*.................................titre principal + Introduction.................*/
h1,
.introduction {
  font-family: "Anonymous Pro", monospace;
}

h1 {
  color: #808080;
  text-align: center;
  margin-top: 350px;
}

.introduction {
  width: 650px;
  height: 460px;
  background-color: #1448eb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border: 10px double #808080;
  top: 20px;
  margin: 0 auto 50px;
  padding: 20px;
}

.introduction p {
  font-size: 16px;
}

/*.................................Section voitures......................*/

.voiture1,
.voiture3,
.voiture5 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.voiture2,
.voiture4,
.voiture6 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.voiture {
  width: 500px;
  height: 300px;
  margin-right: 20px;
}

.voiture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  width: calc(50% - 20px);
  height: 300px;
  background-color: #666666;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px; /* Espace en bas */
}

h2 {
  font-size: 20px;
  margin-bottom: 10px; /* Espace sous le titre */
}

.description p {
  font-size: 14px;
}

/*Pour smartphone*/
@media only screen and (max-width: 767px) {
  nav img.fond-ecran {
    height: 80px;
  }
}
