/*...................................base.................................*/

body {
  background-color: #f2f2f2;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}
/*............................admin......................................*/
a.admin {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.login-form {
  display: none;
  position: absolute;
  background-color: white;
  color: white;
  top: 10px;
  right: 80px;
  z-index: 1109;
}

/*............................barre navigation............................*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

nav img {
  height: 300px;
  width: 100%;
}
.plate-number {
  width: 500px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Rectangles à chaque extrémité */
.rectangle {
  width: 25px;
  height: 50px;
}

/* Images à l'intérieur des rectangles */
.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Liste de liens */
.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Styles des liens */
.links li {
  margin-right: 20px; /* Espace entre les liens */
}

/* Ajoute un tiret entre les 3 liens*/
.links li:not(:last-child)::after {
  content: " - ";
  margin-left: 5px; /* Espace entre le tiret et le lien suivant */
}

.links a {
  font-size: 32px;
  text-decoration: none;
  color: black;
}
/*...............................Logoburger.....................................*/

.burger-container,
.texte-bienvenue {
  display: none;
}

.vertical-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent à 20% */
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column; /* Afficher les liens en colonnes */
  align-items: center;
  justify-content: center;
}

.vertical-navbar a {
  color: black;
  text-decoration: none;
  font-size: 26px;
  padding: 10px;
}
/*.................................titre principal + Introduction.................*/
h1,
.introduction {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
}

h1 {
  color: #ffa500;
  text-align: center;
  margin-top: 350px;
}

.introduction {
  width: 650px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20px;
  margin: 0 auto 50px;
  padding: 20px;
}

.introduction p {
  font-size: 20px;
}

/*.................................Section voitures......................*/

.voiture1,
.voiture3,
.voiture5 {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}

.voiture2,
.voiture4,
.voiture6 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.voiture {
  max-width: 500px;
  max-height: 300px;
  margin-right: 20px;
  transition: all 1s ease;
}

.voiture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
/*------------------------------------------------------------------------------*/
/* Style pour l'image agrandie */
.voiture img.agrandie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: all 1s ease;
}

/*------------------------------------------------------------*/
.description {
  max-width: 600px;
  height: auto;
  background-color: #666666;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 10px;
  color: #ffa500;
}

h2,
.description p {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}
/*.................................formulaire de vote........................*/
.vote-section {
  max-width: 800px;
  height: auto;
  background-color: #666666;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.vote-options {
  text-align: left;
}
/*Bouton pour formulaire de vote + commentaires*/
.submit-btn {
  margin-top: 20px;
  background-color: #d9d9d9;
  color: black;
  border-radius: 5px;
}

/*.......................Section commentaire....................*/
.comment-section {
  max-width: 800px;
  height: auto;
  background-color: #666666;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-bottom: 200px;
  border-radius: 10px;
}

.comment-form {
  text-align: left;
}

/*....................footer......................*/

footer {
  margin-bottom: 20px;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}

.footer img {
  width: 50px;
  height: 50px;
}

/*Pour smartphone*/
@media only screen and (max-width: 767px) {
  nav img {
    height: 80px;
  }

  .plate-number {
    width: 150px;
    height: 30px;
    top: 80px;
  }

  /* Rectangles à chaque extrémité */
  .rectangle {
    width: 15px;
    height: 30px;
  }

  .links {
    display: none;
  }

  .texte-bienvenue {
    display: block; /* Affiche le texte BIENVENUE */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .burger-container {
    display: block;
  }

  .burger-container {
    position: fixed;
    top: 130px;
    right: 0;
    margin: 10px;
    z-index: 2;
  }
  .burger-container img {
    width: 30px;
    height: 30px;
  }
  /*..........................Introduction..................................*/
  .introduction {
    width: auto;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
  }
  .introduction p {
    font-size: 12px;
  }
  /*........................Section voitures................................*/
  .voiture1,
  .voiture2,
  .voiture3,
  .voiture4,
  .voiture5,
  .voiture6 {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .voiture {
    height: 150px;
    width: 300px;
    margin: 10px;
  }
  .description {
    width: 100%;
    margin-top: 20px;
  }
  .description h2 {
    font-size: 14px;
  }

  .description p {
    font-size: 12px;
  }
  /*.......................Section commentaire....................*/
  .comment-section {
    margin-bottom: 50px;
  }
  /*....................footer......................*/
  /*footer*/
  .col-md-2.col-sm-1 {
    width: auto;
  }
  .footer img {
    width: 30px;
    height: 30px;
  }
}
